body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 135, 187);
    font-family: 'Raleway', sans-serif;
    margin: 10px 0 50px;
  }
  
  #heart {
    position: relative;
    width: 100px;
    height: 90px;  
    animation: heartbeat 1s ease infinite;
  }
  
  #heart::before,
  #heart::after {
    content: '';
    position: absolute;
    background: #fff;
    top: 0;
    left: 50px;
    width: 50px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  #heart::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

  .heart_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .texts {
    color: aliceblue;
    text-align: center;
  }
  .first_text {
    font-size: 28px;
    font-weight: 700;
    margin: 20px 0;
  }

  .second_text {
    font-size: 22px;
  }

  .photo {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(0.75);
    }
    
    20% {
      transform: scale(1);
    }
    
    40% {
      transform: scale(0.75);
    }
    
    60% {
      transform: scale(1);
    }
    
    80% {
      transform: scale(0.75);
    }
    
    100% {
      transform: scale(0.75);
    }
  }